header {
  background-color: hsl(0, 0%, 92%);
}

li > a {
  padding: 1rem;
  color: #8000ff;
}

nav > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  gap: 0.5rem;
}

@media screen and (width > 50rem) {
  .nav-links {
    display: flex;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}